.App {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  height: 100vh;
}
.header {
  background-color: tomato;
  padding: 50px;
}
.header .inputContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.header .inputs {
  display: flex;
  flex-flow: column;
}
.header input {
  padding: 10px;
  border: 1px solid grey;
}
.header input:first-of-type {
  border-top-left-radius: 8px;
  border-bottom: none;
}
.header input:last-of-type {
  border-bottom-left-radius: 8px;
}
.header button {
  border: none;
  border: 1px solid grey;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-left: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 300ms;
}
.header button:hover {
  background-color: rgb(86, 170, 86);
}
.todoList {
  display: flex;
  flex-flow: column;
  max-width: 500px;
  padding: 0 20px;
  margin: 50px auto;
}
.task {
  display: flex;
  flex-flow: row;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  border: 1px solid grey;
  margin: 10px 0;
}
.task .taskName {
  width: 35%;
  padding: 10px;
}
.task .taskDeadline {
  width: 35%;
  padding: 10px;
}
.task button {
  width: 30%;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: tomato;
  cursor: pointer;
}
.sortingPanel {
  display: flex;
  justify-content: center;
}
.sortBtnContainer {
  background-color: rgb(0, 105, 96);
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
}
#sortBtn {
  cursor: pointer;
}
